@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


  /* Liquor Selection Bar 
  ------------------------------------------------*/
  .liquor-selection-bar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  .liquor-selection-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .liquor-selection-bar label {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 5px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    box-shadow: #000000 3px 3px;
    border: 3px solid #000000;

    transition: all 0.4s;
  }





 .liquor-selection-bar input[id="radioVodka"]:hover + label, .liquor-selection-bar input[id="radioVodka"]:checked + label{
  background-color: rgb(70, 186, 225);
}
.liquor-selection-bar input[id="radioGin"]:hover + label, .liquor-selection-bar input[id="radioGin"]:checked + label {
  background-color: rgb(59, 215, 59);
}
.liquor-selection-bar input[id="radioRum"]:hover + label, .liquor-selection-bar input[id="radioRum"]:checked + label {
  background-color: rgb(255, 255, 255);
}
.liquor-selection-bar input[id="radioWhiskey"]:hover + label, .liquor-selection-bar input[id="radioWhiskey"]:checked + label{
  background-color: rgb(159, 81, 39);
}
.liquor-selection-bar input[id="radioTequila"]:hover + label, .liquor-selection-bar input[id="radioTequila"]:checked + label {
  background-color: rgb(255, 69, 88);
}
.liquor-selection-bar input[id="radioNA"]:hover + label, .liquor-selection-bar input[id="radioNA"]:checked + label {
  background-color: rgb(255, 255, 47);
}

/* Flavor Selection Bar 
  ------------------------------------------------*/
  .flavor-selection-bar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  .flavor-selection-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .flavor-selection-bar label {
    display: inline-block;
    padding: 20px;
    font-family: 'bebas neue', sans-serif;
    font-size: 25px;
    margin: 5px 20px;
    border-radius: 10px;
    box-shadow: #000000 3px 3px;
  
    border: 4px solid #000000;
    transition: all 0.4s;

  }

  .flavor-selection-bar input[id="flavor-sweet"]:hover + label, .flavor-selection-bar input[id="flavor-sweet"]:checked + label{
    background-color: rgb(255, 84, 101);
  }
  .flavor-selection-bar input[id="flavor-salty"]:hover + label, .flavor-selection-bar input[id="flavor-salty"]:checked + label{
    background-color: rgb(64, 178, 44);
  }
  .flavor-selection-bar input[id="flavor-bitter"]:hover + label, .flavor-selection-bar input[id="flavor-bitter"]:checked + label{
    background-color: rgb(199, 79, 191);
  }

  /* Color Selection Bar 
  ------------------------------------------------*/

  .color-selection-bar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

  .color-selection-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .color-selection-bar label {
    display: inline-block;
    padding: 15px;
    font-family: 'bebas neue', sans-serif;
    font-size: 20px;
    margin: 3px 10px;

    border: 2px solid #000000;
    box-shadow: #000000  2px 2px;
    transition: all 0.4s;

  }

  .color-selection-bar input[id="color-brown"]:hover + label, .color-selection-bar input[id="color-brown"]:checked + label{
    background-color: rgb(140, 106, 70);
  }
  .color-selection-bar input[id="color-red"]:hover + label, .color-selection-bar input[id="color-red"]:checked + label{
    background-color: rgb(255, 80, 80);
  }
  .color-selection-bar input[id="color-orange"]:hover + label, .color-selection-bar input[id="color-orange"]:checked + label{
    background-color: rgb(255, 156, 80);
  }
  .color-selection-bar input[id="color-yellow"]:hover + label, .color-selection-bar input[id="color-yellow"]:checked + label{
    background-color: rgb(255, 243, 80);
  }
  .color-selection-bar input[id="color-green"]:hover + label, .color-selection-bar input[id="color-green"]:checked + label{
    background-color: rgb(106, 255, 80);
  }
  .color-selection-bar input[id="color-blue"]:hover + label, .color-selection-bar input[id="color-blue"]:checked + label{
    background-color: rgb(80, 109, 255);
  }
  .color-selection-bar input[id="color-purple"]:hover + label, .color-selection-bar input[id="color-purple"]:checked + label{
    background-color: rgb(182, 80, 255);
  }

